<!DOCTYPE html5>
<html>

<head>
  <script type="text/javascript" src="js/object.js"></script>
  <script type="text/javascript" src="../p5.js"></script>
  <script type="text/javascript" src="js/index.js"></script>
  <title>Simulator</title>
</head>

<body>

</body>
</html>
