<div class='content-section pt-5'>
	<div class='col-sm-6 offset-sm-3'>
		<h1 class='d-flex justify-content-center'>About Me</h1>
		<hr class='mt-4'>
	</div>
	<div class='col-sm-8 offset-sm-2'>
		<p class='mt-4'>
		Hello! My name is O Maxwell Anderson and I am a recent college graduate from Miami University with a Bachelor's in Computer Science. I took an intro CS course during the Spring of my sophomore year and fell in love with coding, and I've been making it my mission to learn as much as I can in my field ever since. 
		</p>
		<p>
			Outside of coding, I have lots of different hobbies. I've been playing sports since as long as I can remember, and played baseball as a shortstop and pitcher. I've recently picked up playing hockey after being a Minnesota Wild fan for a few years. My family and I go up to our cabin in north Minnesota where I love to swim and water ski. I also enjoy playing the guitar, trying new beer, and reading fantasy books. Some friends and I have also recently gotten into DnD, and I'm planning to try to DM this summer.
		</p>
		<p class='pb-5'>
			I am currently looking for a full-time software development position. I'd love to be able to apply the knowledge and skills I've learned in the last few years to a meaningful company and project. If you happen to know of any positions that you think I might be well-suited for, please don't hesitate to get in <a href='/contact'>contact</a>!
		</p>
	</div>
</div>
