<div class='content-section pt-5'>
	<div class=' col-sm-6 offset-sm-3'> 
		<h1 class='d-flex justify-content-center'>Contact</h2>
		<hr class='mt-4'>
	</div>
	<div class='col-sm-8 offset-sm-2'>
		<p class='d-flex mt-4 justify-content-center'><a href='mailto:omaxwellanderson@gmail.com'>omaxwellanderson@gmail.com</a></p>
		<p class='d-flex justify-content-center'><a href='http://www.linkedin.com/in/o-maxwell-anderson'>LinkedIn</a></p>
		<p class='d-flex justify-content-center'>Phone: (612) 236-7330</p>
	</div>
		
</div>
