<div class='content-section'>
	<div class='row pt-5'>
		<div class='col-sm-6 offset-sm-3'>
			<h1 class='d-flex justify-content-center'>DnD Website</h1>
			<hr class='mt-4'>	
		</div>
	</div>
	<div class='row mt-4'>
		<div class='col-sm-8 offset-sm-2'>
			<p>I wanted practice using the Laravel framework, so I began creating a website that will allow DnD players and DM's to keep track of characters, campaigns, and groups. The site would allow users to log in, create and save different characters, create a new campaign or look at previously made campaigns. When a user is added to a campaign, they could create or associate a character for that campaign. A campaign page would display posts that anyone can make, including posts from the DM about background story, comments from players, and more.</p>

			<p>This project is currently unfinished, due to time constraints with classes and school. I hope to come back to the project after I finish with my personal site and the blog, though it would require a lot of refactoring because I've learned a lot of new and useful skills when it comes to Laravel. Additionally, I would like to improve the look and feel of the UI, as I hadn't used Bootstrap for a while at the time and I've relearned a lot of important skills.</p>
		</div>
	</div>
</div>
