<div>
  <!-- Main header display -->
  <div id='header-img-container'>
    <img src='images/site_skyline.jpg' class='img-fluid jumbotron-img'>
    <h1 class='d-flex justify-content-center fixed-top' id='main-header'>{ O Maxwell Anderson }</h1>
  </div>

  <!-- Objective Statement/1-2 sentence about me -->
  <div class='bg-light'>
    <div class='container py-5 content-section'>
      <h2>Who Am I?</h2>
      <p>My name is Max, and I'm a recent college graduate with a strong passion for
        programming. What I lack in experience, I make up for in my desire to learn
        everything I can about developing great code.</p>
    </div>
  </div>
  <!-- Experience -->
  <div class='bg-dark text-light'>
    <div class='container py-5 content-section'>
      <h2>Experience</h2>
      <h4>Bioinformatics Intern</h4>
      <p>
        Henry M. Jackson Foundation
      </p>
    </div>
  </div>
  <!-- Skills -->
  <!-- Projects - with link to separate projects page -->
  <!-- Education -->

  <div style="height: 1000px; background-color: red; z-index: 100"></div>
</div>
