<div>
  <!-- Main header display -->
  <div id='header-img-container'>
    <img src='images/site_skyline.jpg' class='img-fluid jumbotron-img'>
    <h1 class='d-flex justify-content-center fixed-top' id='main-header'>{ O Maxwell Anderson }</h1>
  </div>

  <!-- Objective Statement/1-2 sentence about me -->
  <div class='bg-light'>
    <div class='container py-5 content-section'>
      <div class='pb-4'>
        <h2 class='d-flex justify-content-center pb-4'>Who Am I?</h2>
        <hr>
      </div>
      <p>
        Hello! My name is Max, and I'm a recent college graduate with a strong passion for
        programming. My goal for the next few years is to get a job where I can provide meaningful
        code. I am also trying to learn everything I can about developing great code
      </p>

      <!-- It would be cool to provide some images of myself with a 1-2 sentence
      hover overlay that described the pic -->
      <div class='d-none d-md-block'>
        <div class='row mt-5'>

          <div class='col-sm-3 gallery-img'>
            <img src='images/placeholder.png' style='width:100%' alt='placeholder image'>
            <div class='overlay'>
              <div class='text'>
                Here's some information about me related to this picture.
              </div>
            </div>
          </div>
          <div class='col-sm-3 gallery-img'>
            <img src='images/placeholder.png' style='width:100%' alt='placeholder image'>
            <div class='overlay'>
              <div class='text'>
                Here's some information about me related to this picture.
              </div>
            </div>
          </div>
          <div class='col-sm-3 gallery-img'>
            <img src='images/placeholder.png' style='width:100%' alt='placeholder image'>
            <div class='overlay'>
              <div class='text'>
                Here's some information about me related to this picture.
              </div>
            </div>
          </div>
          <div class='col-sm-3 gallery-img'>
            <img src='images/placeholder.png' style='width:100%' alt='placeholder image'>
            <div class='overlay'>
              <div class='text'>
                Here's some information about me related to this picture.
              </div>
            </div>
          </div>
        </div>
      </div> <!-- .d-lg-block -->

      <div class='d-none d-md-block'>
        <div class='row .hidden-sm-down'>
          <div class='col-sm-3 gallery-img'>
            <img src='images/placeholder.png' style='width:100%' alt='placeholder image'>
            <div class='overlay'>
              <div class='text'>
                Here's some information about me related to this picture.
              </div>
            </div>
          </div>
          <div class='col-sm-3 gallery-img'>
            <img src='images/placeholder.png' style='width:100%' alt='placeholder image'>
            <div class='overlay'>
              <div class='text'>
                Here's some information about me related to this picture.
              </div>
            </div>
          </div>
          <div class='col-sm-3 gallery-img'>
            <img src='images/placeholder.png' style='width:100%' alt='placeholder image'>
            <div class='overlay'>
              <div class='text'>
                Here's some information about me related to this picture.
              </div>
            </div>
          </div>
          <div class='col-sm-3 gallery-img'>
            <img src='images/placeholder.png' style='width:100%' alt='placeholder image'>
            <div class='overlay'>
              <div class='text'>
                Here's some information about me related to this picture.
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>

  <!-- Experience -->
  <div class='bg-dark text-light'>
    <div class='container py-5 content-section'>
      <div class='pb-4'>
        <h2 class='d-flex justify-content-center pb-4'>Experience</h2>
        <hr style='border-color: #777'>
      </div>

      <div class='exp-section'>
        <div>
          <div>
            <h4>Bioinformatics Intern</h4>
            <p>
              Henry M. Jackson Foundation
            </p>
          </div>

          <p>As a Bioinformatics Intern, I collaborated with a team to develop a pipeline
            to process and analyze hundreds of thousands of RNA strands. I utilized
            open-source software, supercomputers, and lots of C++ code to create a piece of
            software that found secondary structural motifs in viral RNA strands.</p>
        </div>
      </div>

      <div class='exp-section'>
        <div class='mt-5'>
          <div>
            <h4>Teacher's Assistant</h4>
            <p>
              Miami University
            </p>
          </div>

          <p>As a teacher's assistant, I've had the pleasure of taking an active role
            in helping the students understand and learn the course material. I've taught
            them about relational database design, writing effective SQL queries,
            translation from ERD's to relational schemas, and more.</p>
        </div>
      </div>

    </div>
  </div>

  <!-- Skills -->
  <div class='bg-light'>
    <div class='container py-5 content-section'>
      <div class='pb-4'>
        <h2 class='d-flex justify-content-center pb-4'>Skills</h2>
        <hr>
      </div>

      <div class='row'>
      <div class='col-sm-6 text-center'>
        <p>C++</p>
        <p>Java</p>
        <p>PHP</p>
        <p>SQL</p>
        <p>HTML & CSS (Bootstrap)</p>
        <p>JavaScript & jQuery</p>
      </div>
      <div class='col-sm-6 text-center'>
        <p>Relational Databases</p>
        <p>RESTful Web Development</p>
        <p>Communication and Writing</p>
        <p>Experience with Windows and Linux/Unix-like systems</p>
      </div>
    </div>
    </div>
  </div>

  <!-- Projects - with link to separate projects page -->
  <div class='bg-dark text-light'>
    <div class='container py-5 content-section'>
      <div class='pb-4'>
        <h2 class='d-flex justify-content-center pb-4'>Projects</h2>
        <hr style='border-color: #777'>
      </div>

      <div class='card-columns'>

        <a href='#BLOG_URL'>
          <div class='card text-dark project-link'>
            <img class='card-img-top' src='images/blog_logo.png' alt='Blog Logo image'>
            <div class='card-body'>
              <h3 class='card-title'>Blog</h3>
              <p class='card-text'>I built myself a blog to discuss my own projects,
                areas I would like to know more about, and possibly provide insight
                to others who are in a similar situation to myself.</p>
            </div>
          </div>
        </a>

        <a href='#PSF_URL'>
          <div class='card text-dark project-link'>
            <img class='card-img-top' src='images/psf_placeholder.jpg' alt='Parking Space Finder image'>
            <div class='card-body'>
              <h3 class='card-title'>Parking Space Finder</h3>
              <p class='card-text'>Test text talking about the parking space finder</p>
            </div>
          </div>
        </a>

        <a href='#DND_URL'>
          <div class='card text-dark project-link'>
            <img class='card-img-top' src='images/dnd_site.jpg' alt=''>
            <div class='card-body'>
              <h3 class='card-title'>Dungeons and Dragons Helper</h3>
              <p class='card-text'>Test text talking about the DnD site</p>
            </div>
          </div>
        </a>

        <a href='#PARTICLESIM_URL'>
          <div class='card text-dark project-link'>
            <img class='card-img-top' src='images/particle_sim2.png' alt=''>
            <div class='card-body'>
              <h3 class='card-title'>Physics Simulations</h3>
              <p class='card-text'>Test text talking about the physics simulations</p>
            </div>
          </div>
        </a>

        <a href='#HQAPP_URL'>
          <div class='card text-dark project-link'>
            <img class='card-img-top' src='images/hq_screenshot.png' alt=''>
            <div class='card-body'>
              <h3 class='card-title'>HQ Trivia Helper</h3>
              <p class='card-text'>Test text talking about the HQ helper website</p>
            </div>
          </div>
        </a>
    </div>
  </div>

  <!-- Education -->
  <div class='bg-light text-dark'>
    <div class='container py-5 content-section'>
      <div class='pb-4'>
        <h2 class='d-flex justify-content-center pb-4'>Education</h2>
        <hr>
      </div>

      <div>

        <!--
        <img class='float-left' height='200px' src='images/miami_logo.jpg'>
        -->

        <div>
          <h4>Miami University</h4>
          <p>Bachelor's Degree in Computer Science</p>
        </div>
        <p>Expected Graduation: May 2018</p>
        <p>Areas of Interest: Web Development, High Performance Computing, Machine Learning</p>

      </div>

      <!-- animated progress bar? -->

    </div>
  </div>


  <!-- Footer -->
  <div class='bg-dark text-light'>
    <div class='container pt-5 pb-4 content-section footer'>

      <div class='d-flex justify-content-center'>
        <p><a href='mailto:omaxwellanderson@gmail.com'>omaxwellanderson@gmail.com</a> |
        (612) 236-7330 |
        <a target='_blank' href='https://www.linkedin.com/in/o-maxwell-anderson'>LinkedIn</a> |
        <a target='_blank' href='https://www.github.com/omaxanderson'>GitHub</a></p>
      </div>
    </div>
  </div>

</div>
