<div class='content-section'>
	<div class='row pt-5'>
		<div class='col-sm-6 offset-sm-3'>
			<h1 class='d-flex justify-content-center'>HQ Helper</h1>
			<hr class='mt-4'>	
		</div>
	</div>
	<div class='row mt-4'>
		<div class='col-sm-8 offset-sm-2'>
			<p>
			My friends and I got fed up and frustrated at losing every game of HQ, so I decided to do something about it. I made a very simple web app that allows a user to answer every question online with a degree of certainty, while also being updated in real time to what other users are saying. An algorithm on the back end will then calculate a percentage and recommendation for the perceived correct answer.</p>

			<p>The site is not being hosted live anywhere at the moment due to the large amount of traffic and subsequent cost the application requires. I hope to set up my own server on a Raspberry Pi at home where I will be able to host it much more cheaply than using AWS.</p>
		</div>
	</div>
</div>
