<div id='entryFormSection' class='d-flex justify-content-center align-items-center'>
	<div class='container' style='margin: 0; padding: 0;'>
		<div class='d-flex justify-content-center'>
			<p>Today's hint: </p>
		</div>

		<div class='d-flex justify-content-center'>
			<div id='passHint'></div>
		</div>

		<div class='d-flex justify-content-center'>
			<form onSubmit='return submitPassword(event)'>
				<div class='form-group'>
					<input id='passwordField' type='password' placeholder='Password' class='form-control'>
				</div>
			</form>
		</div>
	</div>
</div>

<div id='mainContentSection' style='display: none'>
	<p>So much fun content woo!</p>
</div>

<script src='js/madeline.js'></script>
