<div id='entryFormSection' class='content-section d-flex justify-content-center align-items-center'>
	<div class='container' style='margin: 0; padding: 0;'>
		<div class='d-flex justify-content-center'>
			<p>Today's hint: </p>
		</div>

		<div class='d-flex justify-content-center'>
			<div id='passHint'></div>
		</div>

		<div class='d-flex justify-content-center'>
			<form onSubmit='return submitPassword(event)'>
				<div class='form-group'>
					<input id='passwordField' type='password' placeholder='Password' class='form-control'>
				</div>
			</form>
		</div>
	</div>
</div>

<div class='content-section' id='mainContentSection' style='display: none'>
<div class='container m-0 p-0'>
	<div class='d-flex justify-content-center row'>
		<h1>Hello Madeline!</h1>
	</div>

	<div class='row mt-5'>
		<div id='daily-phrase' class='col-sm-4'></div>
	</div>

	<div id='daily-img'></div>
	<div id='daily-article'></div>
	<div id='daily-text-analysis'></div>
	<div id='daily-game'></div>
	<div id='daily-challenge'></div>
	<div id='weekly-animation'></div>
	<div id='comment-section'></div>

</div>

</div>

<script src='js/madeline.js'></script>
