<div class='pt-5 content-section'>
	<div class='row'>
		<div class='col-sm-6 offset-sm-3'>
			<h1 class='d-flex justify-content-center'>Physics Simulations</h1>
			<hr class='mt-4'>
		</div>
	</div>
	<div class='row mt-4'>
		<div class='col-sm-8 offset-sm-2'>
			<p>After beginning physics in my last year of college, I became pretty interested in the relationship between relatively simple equations and the inner workings of the universe. Simulating a bouncing ball and gravitational attraction is simple by storing vectors containing position, velocity, and acceleration. Using the p5 JavaScript library, getting the grapics running is trivial and therefore allowed me to work efficiently on the simulations.</p>

			<p>I also worked briefly on a C++ project that would incorporate multithreading to allow for simulations that could efficiently support thousands of gravitational bodies.</p>
		</div>
	</div>

<!--
	<div class='row mt-4'>
		<div class='col-sm-8 offset-sm-2'>
			<h3 class='d-flex justify-content-center'>Links</h3>
			
		</div>
	</div>
-->
</div>
