<div class='content-section pt-5'>
	<div id='secretary-intro-text'>
		<h1 class='d-flex justify-content-center pb-4'>Secretary Problem</h1>

		<div class='col-sm-6 offset-sm-3'>
			<p>The Secretary Problem is a famous mathematical and algorithmic problem as follows.
			You need to hire a secretary and a number of applicants are interviewed. It isn't possible
			to determine their exact skill during an interview, but you can determine their skill relative
			to other candidates who have previously been interviewed. The goal is to choose the best candidate
			among all the possible options.</p>

			<p>Seems easy, right? Well, the only problem is that once you interview a candidate and choose to
			pass on them, you can't go back and accept them. Essentially, for each candidate you have the 
			opportunity to either accept them or move on to the next candidate.</p>

			<p>In this game you will be offered 15 different candidates to choose from. The goal 
			is to choose the best candidate, but you don't know what the best candidate is. Each candidate
			will be given a random score on some arbitrary scale. Let's see if you can find the best!</p>

			<div class='row col-sm-4 offset-sm-4 pb-5'>
				<button id='secretary-start-btn' class='mx-auto btn btn-primary'>Play!</button>
			</div>

		</div>
	</div>

	<div id='secretary-game-section' style='display: none' class='col-sm-10 offset-sm-1'></div>
</div>

<script src='js/secretary.js'></script>
