.jumbotron-img {
  position: fixed;
  z-index: -1;
}

.navbar {
  background: rgba(0,0,0,0.4);
}

/******** This z-index and the #main-header z-index need to be the same! *******/
#header-img-container {
  z-index: -1;
}

#main-header {
  color: white;
  z-index: -1;
  font-family: 'Roboto Slab', sans-serif;
}

h1 {
  font-size: 4vw;
}

@media (max-width: 600px) {
  h1 {
    font-size: 8vw;
  }
}

.content-section {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 130%;
}

.footer {
  font-size: 90%;
}

.project-link {
  text-decoration: none;
  color: #EEE;
}

/*
.bg-dark .content-section a {
  text-decoration: none;
  color: #EEE;
}

.bg-light .content-section a {
  text-decoration: none;
  color: #000;
}
*/

.add-box-shadow {
  box-shadow: 5px 5px 30px -10px #888888;
}

.custom-border-left {
  border-left: 5px solid teal;
}
