.jumbotron-img {
  position: fixed;
  z-index: -1;
}

.navbar {
  background: rgba(0,0,0,0.4);
  border-bottom: 1px solid black;
}

/******** This z-index and the #main-header z-index need to be the same! *******/
#header-img-container {
  z-index: -1;
}

#main-header {
  color: white;
  z-index: -1;
  font-family: 'Roboto Slab', sans-serif;
}

.img-container {
  margin-bottom: 10px;
}

.gallery-img {
  margin-bottom: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #343a40; /* Same as .bg-dark */
}

.gallery-img:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  font-size: 4vw;
}

@media (max-width: 600px) {
  h1 {
    font-size: 8vw;
  }
}

.exp-section {
  padding-left: 5%;
  border-left: 2px solid #f8f9fa; /* Same as .bg-light */
}

.content-section {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 130%;
}

.footer {
  font-size: 90%;
}

.project-link {
  text-decoration: none;
  color: #EEE;
}

/*
.bg-dark .content-section a {
  text-decoration: none;
  color: #EEE;
}

.bg-light .content-section a {
  text-decoration: none;
  color: #000;
}
*/

.add-box-shadow {
  box-shadow: 5px 5px 30px -10px #888888;
}

.custom-border-left {
  border-left: 5px solid teal;
}
