<!DOCTYPE html>
<html>
<head>
  <title>O Max Anderson</title>

  <script language="javascript"
  type="text/javascript"
  src="../p5.js"></script>
  <script language="javascript"
  type="text/javascript" src="libraries/p5.dom.js"></script>
  <script language="javascript"
  type="text/javascript" src="js/particle.js"></script>
  <script language="javascript"
  type="text/javascript" src="js/firework.js"></script>
  <script language="javascript"
  type="text/javascript" src="js/animation.js"></script>

</head>

<body>


  <h1 id="header">Hey You!</h1>
<!--  <button onclick='document.getElementById("header").innerHTML = "Hello JavaScript!!"'
  type="button">Click Me!</button> -->
<!--  <p>What's up Madeline, you're on a webpage!</p>

  <img alt="DD and Mad Dog"
  src="mad_dog.jpg">
-->

  <!--<script src="js/test.js"></script>-->
</body>

</html>
